<?xml version="1.0"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <display-name>BAM</display-name>

    <servlet>
        <servlet-name>ActivityServer</servlet-name>
        <servlet-class>
            org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher
        </servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>org.overlord.bam.activity.server.rest.RESTActivityServerApplication</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>ActivityServer</servlet-name>
        <url-pattern>/activity/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ActiveCollectionManager</servlet-name>
        <servlet-class>
            org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher
        </servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>org.overlord.bam.active.collection.rest.RESTActiveCollectionServerApplication</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>ActiveCollectionManager</servlet-name>
        <url-pattern>/acm/*</url-pattern>
    </servlet-mapping>

	<!-- Services -->
	
    <servlet>
        <servlet-name>ServiceDependency</servlet-name>
        <servlet-class>
            org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher
        </servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>org.overlord.bam.service.dependency.rest.RESTServiceDependencyServerApplication</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>ServiceDependency</servlet-name>
        <url-pattern>/service/dependency/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CallTrace</servlet-name>
        <servlet-class>
            org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher
        </servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>org.overlord.bam.call.trace.rest.RESTCallTraceServerApplication</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>CallTrace</servlet-name>
        <url-pattern>/call/trace/*</url-pattern>
    </servlet-mapping>

</web-app>