grant { 
      permission java.util.PropertyPermission "*", "read";
      permission java.lang.RuntimePermission "createClassLoader";
      permission java.lang.RuntimePermission "accessDeclaredMembers";
      
      // Only for test purposes
      permission java.lang.RuntimePermission "setSecurityManager";
};
